body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

.nav-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 45px;
    background-color: rgb(19, 19, 19);
    
}

.rightside{
    display: flex;
    justify-content: space-between;
}

.nav-wrapper> .rightside > div{
    margin-right: 20px;
    font-size: 0.9em;
}

.nav-link{
    height: 23px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
    
    
}

.nav-link a{
    text-decoration: none;
    color:white;
    transition: color 0.5s;
    font-size: larger;
}

.rightside>.nav-link a:hover{
    color: rgb(136, 132, 132);
}

.rightside>.nav-link:hover{
    border-bottom: 1px solid rgb(136, 132, 132);
}

.leftside > .nav-link > a{
    font-family: 'Marcellus SC', serif;
    
}

.mainblock{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 7fr 1fr;
    padding-bottom: 0;
    
}
.box1{
    background-image: url(images/homepage/img2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(60%);
}

.box3{
    background-image: url(images/homepage/img2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    filter: brightness(60%);
}

.box2{
    display: grid;
    grid-template-rows: auto;
    justify-content: center;
    grid-row-gap: 15px;
    background-color: white;
    
}

.box2> div{
    height: 200px;
    width: 1000px;
    
}

.box2 > div > a > img{

    width: 1000px;
    height: 200px;
    transition: 1s;
    align-content: center;
    
}

.container{
    height: 100vh;
}

.box2 > div > a> img:hover{
   transform: scale(1.1);
}

.box2>div>a{
    text-decoration: none;
}
.artist-rank{
    position: relative;
    width: 45px; height: 45px;
    left: 947px;
    text-align: center;
    bottom: 230px;
    font-weight: 400;
    text-decoration: none;
    color:white;
    background-color: rgba(0, 0, 0, 0.8);
}

.artist-rank >p{
    text-decoration: none;
    font-family: 'Marcellus SC', serif ;
    font-size: xx-large;
    color: white;
}
