body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
.nav-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 45px;
    background-color: rgb(19, 19, 19);
    
}

.rightside{
    display: flex;
    justify-content: space-between;
}

.nav-wrapper> .rightside > div{
    margin-right: 20px;
    font-size: 0.9em;
}

.nav-link{
    height: 23px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
    
    
}

.nav-link a{
    text-decoration: none;
    color:white;
    transition: color 0.5s;
    font-size: larger;
}

.rightside>.nav-link a:hover{
    color: rgb(136, 132, 132);
}

.rightside>.nav-link:hover{
    border-bottom: 1px solid rgb(136, 132, 132);
}

.leftside > .nav-link > a{
    font-family: 'Marcellus SC', serif;
    
}

.mainblock{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 7fr 1fr;
    
}
.box1{
    background-image: url(images/homepage/img2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(60%);
}

.box3{
    background-image: url(images/homepage/img2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    filter: brightness(60%);
}

.form-box{
    background-color: rgb(19, 19, 19);
    width: 100%; height: 1000px;
    text-align: center;
    position: relative;
    font-family: 'Nunito', sans-serif;
    border-radius: 5px 5px 5px 5px;
}
.box2{
    display: flex;
    padding: 60px 100px 60px 100px;
    
}

label{
    display: block;
    width: 260px;
    margin: 25px auto 0;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  label span{
    font-size: 16px;
    font-weight: 500;
    color:white;
    text-transform: uppercase;
    
  }
  .input-box{
    margin: 14px auto;
    width: 80%;
    padding-top: 10px;
    padding-bottom: 5px;
    text-align: center;
  }

  .input-box1{
    margin: 20px auto;
    width: 80%;
    padding-top: 10px;
    padding-bottom: 5px;
    text-align: center;
  }

  .input-box input{
    width: 50%;
    font-size: 18px;
    border-bottom: 1px solid rgba(109, 93, 93, 0.4);
    text-align: center;
    font-family: 'Nunito', sans-serif; 
    border-radius: 5px 5px 5px 5px;
    margin-right: 25px;
  }

  span{
    cursor: pointer;
    
}
  
  button[type=submit]{
    display: block;
    margin: 0 auto;
    width: 260px;
    height: 36px;
    border-radius: 30px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    margin-top: 20px;
  }

  .form-cont{
      padding: 10px;
      height: 80%;
  }

  form{
    position: relative;
    top: 3%;
    height: 90%;
  }

  .eye{
    position: absolute;
    margin-top: 4px;
}
#hide1{
    display: none;
}

#hide3{
    display: none;
}

.fa{
    color: white;
    margin-left: 0px;
    margin-right: 12px;   
}


  form{
      padding: 30px;
  }
  hr{
      width: 65%;  
  }
  .submit{
    margin-top: 40px;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Nunito', sans-serif;
    background: -webkit-linear-gradient(left, #7579ff, #b224ef);
  }
  
  .submit:hover{
    background: -webkit-linear-gradient(left, #b224ef, #7579ff);
  }
  
  h2{
    width: 100%;
    font-size: 32px;
    text-align: center;
    color: white;
    letter-spacing: 3px;
  }